.modal {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > div{
    width: 100%;
    height: 100vh;
}

.modal-header{
    display: flex;
    align-items: center;

    >h3{
        margin-right: auto;
    }
}

.modal-dialog{
    width: 30%;
    position: absolute;
    z-index: 10;
    top: 200px;
    right: 35%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
}

.modal-select{
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 8px;

    >option{
        border-radius: 10px;
    }
}

.modal-button{
    display: flex;
    justify-content: flex-end;
}

.modal-button > button{
    border-radius: 5px;
    cursor: pointer;
}

.modal-button > button:hover{
    opacity: 0.7;
}

.modal-content{
    width: 100%;
}

.modal-content > input{
    display: block;
    padding: 8px;
    outline: none;
    width: 100%;
    border: 2px solid green;
    border-radius: 8px;
    margin-top: 15px;
}

.close-btn{
    background-color: rgb(221, 25, 25);
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 15px;
     margin-right: 10px;
}

.save-btn{
    background-color: darkcyan;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 15px;
}


@media screen and (max-width: 1000px) {
    .modal-dialog {
        right: 30%;
    }
}

@media screen and (max-width: 700px) {
    .modal-dialog {
        right: 20%;
    }
}

@media screen and (max-width: 530px) {
    .modal-dialog {
        right: 15%;
    }
}

@media screen and (max-width: 450px) {
    .modal-dialog {
        right: 10%;
    }
}

@media screen and (max-width: 390px) {
    .modal-dialog {
        right: 7%;
    }
}