@import '../../../assets/scss/general.scss';

.admin-post{
    display: flex;
    margin-top: 90px;
}

.admin-left{
    width: 328px;
    margin-right: 100px;
}

.admin-left > h2{
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
}

.admin-left > p{
    width: 99.9%;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #474747;
}

.admin-left > span{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
}

.admin-left-explore{
    text-decoration: none;

    > img{
        transform: translateY(7px);
        margin-left: 12px;
        background: #cfcdcd;
        border-radius: 3px;
        padding: 8px 6px;
    }
}

.admin-left > img{
    margin-right:24px;
}

.posts{
    width: 740px;
}

.posts > h2{

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.posts-items{
    list-style: none;

    >li{
        margin-top: 50px;
        border-bottom: 2px solid #DFDFDF;
    }
}

.posts-item{
    list-style: none;
    margin-top: 46px;
    text-decoration: none;
}

.posts-item > span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
}

.posts-item > b{
    margin-left: 65%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
}

.posts-item > p{
    margin: 20px 0;
    width: 70%;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #474747;
}

.posts-item > div{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 15px;
    >img{
        transform: translateY(5px);
    }
}


.pagination{
    margin-left: auto;
    list-style: none;
    display: flex;
    margin-top: 55px;
    margin-bottom: 150px;
}

.pagination-item{
    margin: 0 8px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.pagination-item > a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #474747;

    &:active{
        color: #FFBA9D;
    }
}



@media screen and (max-width: 975px) {
    .admin-left{
        display: none;
    }

    .posts{
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .posts-item > b{
        margin-left: 60%;
    }

    .posts-item > p{
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .posts-item > b{
        margin-left: 40%;
    }
}

@media screen and (max-width: 430px) {
    .posts-item > b{
        margin-left: 30%;
    }
}